* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f4;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    gap: 15px;
}

textarea {
    resize: none;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    outline: none;
}

input[type="text"] {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

input[type="email"] {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

/* set input of type submit */
input[type="submit"] {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

textarea::placeholder {
    padding: 3px;
}

/* style alert messages */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}