*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.header-one>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-one div div {
    width: 30px;
    background-color: black;
    height: 2px;
}

.header-one p {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

:root {
    --fs-family1: 'Inter', sans-serif;
    --fs-family2: 'Montserrat', sans-serif;
    --fs-fs1: 1.5rem;
    --fs-fs2: 2.2rem;
    --fs-color: #16E0BD;
}

.header-two {
    max-width: 1000px;
    display: grid;
    text-align: center;
    font-size: var(--fs-fs2);
    margin: 50px auto;
}

#header-two-p1 {
    font-family: var(--fs-family2);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
}

#header-two-p2 {
    font-family: var(--fs-family1);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
}

#header-two-p3 {
    font-family: var(--fs-family2);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
    background-color: var(--fs-color);
}

#header-two-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    padding: 15px;
}


#section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px;
    background-color: #444;
    color: white;
    text-align: center;
}

#section-one-div {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 60px 0;
}

#section-one h1 {
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
    line-height: 1.5;
}

#section-one-div div {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 1px;
    line-height: 1.5;
}

#section-one-div h1 {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
}

#section-one h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
}

#section-one a {
    /* margin-top: 50px; */
    background-color: var(--fs-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: lighter;
    font-family: var(--fs-family1);
}

#section-two {
    text-align: center;
    display: grid;
    gap: 30px;
    margin: 0 auto;
    padding: 100px 20px;
}

#section-two-h1 {
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
    line-height: 1.5;
}

#section-two-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 20px; */
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    max-height: 500px;
}

#section-two-p {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.5;
    font-weight: 900;
    /* color: white; */
    margin: 0 auto;
    background-color: var(--fs-color);
    padding: 10px 20px;
    font-family: var(--fs-family2);
}

/* select all the p element after img */
#section-two-p1 {
    margin: 0 auto;
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.5;
    max-width: 400px;
}

#section-two-p2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.5;
    max-width: 400px;
    margin: 0 auto;
}

#section-three {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 20px;
    text-align: center;
    background-color: #444;
    color: white;
}

#section-three h1 {
    font-size: 2.5rem;
    font-weight: 1000;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: var(--fs-family1);
}

#section-three h2 {
    font-size: 1.1rem;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: var(--fs-family1);
    color: var(--fs-color);
    font-weight: bolder;
}

#section-three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
}

#section-three div {
    margin: 40px 0;
    background-color: #444;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

footer img {
    width: 37px;
}

#footer-one {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: var(--fs-family1);
}

#footer-two {
    margin-top: 20px;
}

#footer-two a+a {
    margin-left: 20px;
}

@media (min-width:800px) {
    .header-two {
        grid-template-areas:
            "img p0"
            "img p1"
            "img p2"
            "img p3"
            "img p4";
        gap: 5px;
    }


    #header-two-p1 {
        text-align: right;
        grid-area: p1;
        padding-right: 20px;
    }

    #header-two-p2 {
        text-align: right;
        grid-area: p2;
        padding-right: 20px;
    }

    #header-two-p3 {
        grid-area: p3;
        grid-column: -1 / 1;
        text-align: right;
        padding: 20px;
        padding-right: 15px;
    }

    #header-two-img {
        grid-area: img;

    }

    #section-one {
        padding: 100px 100px;
    }

    #section-one h1 {
        font-size: 3rem;
    }

    #section-one-div {
        flex-direction: row;
        gap: 20px;
        margin: 60px 0;
    }

    #section-two {
        width: 790px;
        margin: 0 auto;
        padding: 100px 100px;
        grid-template-areas:
            "h1 img"
            "p1 img"
            "p2 img"
            "p3 img";
        gap: 0;
    }

    #section-one-div div {
        font-size: 1.2rem;
    }

    #section-two-h1 {
        font-family: var(--fs-family2);
        grid-area: h1;
        text-align: left;
        margin: 0;
        font-weight: bolder;
    }

    #section-two-img {
        grid-area: img;
        height: 600px;
        max-height: 600px;
        z-index: 1;
    }

    #section-two-p {
        grid-area: p1;
        text-align: left;
        position: relative;
        padding-right: 55%;
        padding-left: 20px;
        grid-column: -1 / 1;
        align-self: start;
        width: calc(100% + 1em);
    }

    #section-two-p1 {
        font-size: 1.1rem;
        grid-area: p2;
        text-align: left;
        padding-right: 50px;
        max-width: 600px;
        margin: 0;
    }

    #section-two-p2 {
        font-size: 1.1rem;
        grid-area: p3;
        text-align: left;
        max-width: 400px;
        padding-right: 50px;
        margin: 0;
    }


    #section-three {
        padding: 100px 100px;
    }

    #section-three div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        /* gap: 20px; */
    }

    #section-three img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
    }

    footer img {
        width: 60px;
    }
}