*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}

.header-one>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-one div div {
    width: 30px;
    background-color: black;
    height: 2px;
}

.header-one p {
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.5;
}

:root {
    --fs-family1: 'Inter', sans-serif;
    --fs-family2: 'Montserrat', sans-serif;
    --fs-fs1: 1.5rem;
    --fs-fs2: 2.2rem;
    --fs-color: #16E0BD;
}

.header-two {
    display: grid;
    gap: 20px;
    text-align: center;
    font-size: var(--fs-fs2);
    margin: 50px 0;
}

#header-two-p1 {
    font-family: var(--fs-family2);
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
}

#header-two-p2 {
    font-family: var(--fs-family1);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
}

#header-two-p3 {
    font-family: var(--fs-family2);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5;
    background-color: var(--fs-color);
}

#header-two-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
}

header {
    padding: 20px;
}